
:root{
  --darkcolor: #17181B;
  --lightcolor:#202124;
}

.movieApp{
  color: whitesmoke;
  background-color: var(--darkcolor);
}
.searchbar{
  padding:1rem;
  display: flex;
  /* justify-content: flex-end; */
  background-color: var(--lightcolor);
}
.search{
  width: 40%;
  max-width: 450px;
  background-color: transparent;
  border: 2px solid var(--darkcolor) ;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1 rem;
  color: white;
  font-family: inherit;
}

.search:focus{
  outline:0;
  background-color: var(--darkcolor);
}



.movielist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 350px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,2);
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.movie:hover{
  transform: scale(1.1);
}

.movie_info{
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  border-radius:5px;
  padding-bottom: 1rem;
  background-color: var(--lightcolor);
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.5s ease-in-out;
}

.movie:hover .movie_info{
  transform: translateY(0);
}

.movietitle {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  letter-spacing: 0.5px;

}

.movietitle h3{
  margin: 0;
}

.rating{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  letter-spacing: 0.5px;
}

.rating span{
  background-color: var(--darkcolor);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
}


.more_detail{
  display: flex;
  background-color: var(--darkcolor);
  margin: 0.5rem 1rem 0;
  /* padding: 0.25rem; */
  border-radius: 5px;
  font-weight: bold;
  justify-content: center;
  /* align-self: center; */
}

.more_detail a{
  margin: 0.5rem 0 ;
  text-decoration: none;
  color: whitesmoke;
}

.more_detail a:hover{
  color: rgb(71, 71, 255);
}


img{
  border-radius: 5px;
  width: 100%;
}